*{
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    
}

body{
    margin: 0;
    padding: 0;
    background-color: #de65ce;
}

main{
    background-color: #fff;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;

}